@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
/*
    font-family: 'Montserrat', sans-serif;
*/
* {
    font-family: 'Montserrat', sans-serif;
}
#copyright{padding: 10px 2px;margin-top: 50px;}
.social_net ul li{list-style: none;display: inline-block;}
.social_net ul li a{padding: 15px 15px;background: #f1f1f1;display: block;width: 45px;text-align: center;height: 45px;border-radius: 50%;}
.social_net ul li a:hover{text-decoration: none;}
.social_net ul li a.f:hover {background: #475993;color: #f1f1f1;}
.social_net ul li a.i:hover {background: #7923BC;color: #f1f1f1;}
.social_net ul li a.in:hover {background: #0077B7;color: #f1f1f1;}
.social_net ul li a.tw:hover {background: #76A9EA;color: #f1f1f1;}
.social_net ul li a.w:hover {background: #7AD06D;color: #f1f1f1;}

#t2 a{text-align: center;display: block;font-weight: 600;letter-spacing: .3px;}
#t2 a:hover{text-decoration: none;}
.blue{background: #485DA0;text-align: center;color: #f1f1f1; padding: 40px 5px;}
#t2{text-align: center;padding: 40px 0;}
#t2 .botao_cta_blue{background: #485DA0;padding: 14px 30px;display: inline-block;max-width: 280px;color: #f1f1f1;border-radius: 5px;}

.links ul {list-style: none;margin: 0;padding: 0;}
.links ul li{padding: 5px;text-align: left;}
.links ul li a{color: #485DA0;}
.links ul li a:hover{font-weight: 600;text-decoration: none;}

#footer{padding: 40px 0;}
.home:before{
    content: "\f015";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    font-size: 14px;
    margin-right: 7px;
} 
.cta{min-width: 260px!important;}
.cta_form{text-align: center;padding: 20px 0!important;}
.btn-default{border: 1px solid #f1f1f1!important;background: transparent!important;color: #f1f1f1!important;font-weight: 600!important;}
.skils{text-align: center;padding: 20px 5px 60px 5px}
.pay{text-align: center;padding: 60px 5px 40px 5px;}
.pay ul li{display: inline-block;}
.pay ul li img{max-width: 180px;padding: 20px;}
.types{text-align: center;padding: 20px 5px 40px 5px;}
.types ul{margin: 0;padding: 0;}
.types ul li{display: inline-block;margin: 0;padding: 0;}
.types ul li img{max-width: 220px;padding: 2px;}
.redes-sociais p{margin-left: 40px;}
.redes-sociais b{color: #485DA0;}

.bloco3 h2{text-align: center;}
.bloco3 p{text-align: center;}

.cta1{border-top: 5px solid #FCD500;}
.cta1 a{background: #FCD500;padding: 20px 30px;display: inline-block;max-width: 240px;margin-top: 30px;text-transform: uppercase;font-weight: 600;letter-spacing: .6px;color: #485DA0;border-radius: 5px;}
.cta1 a:hover{text-decoration: none;}
.cta1 h3,.cta1 p{text-align: left;}

#t0{padding: 60px;}
.o-que-eh{text-align: center;padding: 60px 5px;}

.back1{
    background-image: url('../../includes/img/p1/Artboard_Background_Site_piso.jpg');
    background-attachment: fixed;
    background-position: center bottom;
    padding: 260px 5px;
    /**/
    background-repeat: no-repeat;
    background-size: cover;
}
.back1 h2{color: #f1f1f1;text-align: center;font-weight: 600;letter-spacing: 1.4px;text-shadow: 2px 2px 5px #444;}
.back1 h3{color: #f1f1f1;text-align: center;font-weight: 400;letter-spacing: .4px;text-shadow: 2px 2px 5px #444;}
.back1 p{color: #f1f1f1;text-align: center;font-weight: 600;letter-spacing: .8px;text-shadow: 2px 2px 5px #444;padding: 30px 5px 40px 5px;}
.back1 .cta0{text-align: center;}
.back1 .cta0 a{display: inline-block;background: #FCD500;padding: 20px 30px;border-radius: 5px;font-weight: 600;letter-spacing: .6px;color: #000;}
.back1 .cta0 a:hover{text-decoration: none;}

.back2{
    background-image: url('../../includes/img/p1/Sofa_Piso_Ajust-01.jpg');
    background-attachment: fixed;
    background-position: center bottom;
    padding: 260px 5px;
    /**/
    background-repeat: no-repeat;
    background-size: cover;
}
.back2 p{color: #f1f1f1;text-align: center;font-weight: 600;letter-spacing: .4px;text-shadow: 2px 2px 5px #444;}
.back2 img{max-width:200px;text-align:center;padding: 20px 5px;}
.dash{width: 80px;height:7px;background: #475993;margin:25px 0px 35px 0px;}


/* -- GALERY -- */
.types .container { margin: 0;padding: 0; }
   /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 327px;
}*/

.types .pic-container {
    float: left;
    padding: 0;
    margin-left: 0;
    width: 20%;
}

.types .parent {
    position: relative;
    width: 240px;
    height: 169px;
    /*margin: 0 auto;*/
}

.types .wrapper {
    width: 200px;
    height: 169px;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    left: calc(50% - 17px);
    top: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
    transition: transform 375ms, width 275ms 100ms, height 375ms;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.types .wrapper.open {
    width: 330px;
    height: 330px;
    translate transition: transform 375ms, width 375ms, height 275ms 100ms;
}

.types .wrapper div.content {
    position: absolute;
    margin: auto;
    left: -9999px;
    right: -9999px;
    transform-origin: top;
    width: 330px;
    transform: scale(0.62);
    height: 330px;
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    transition: transform 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.types .wrapper.open .content {
    transform: scale(1);
}

.types .wrapper .img {
    height: 180px;
    background-size: cover;
    background-position: center;
}

.types .thumb-1 .img {
    background-image: url('../../includes/img/p1/Images_Type_Floor_PISO3DXIQ.jpg');
}

.types .thumb-2 .img {
    background-image: url('../../includes/img/p1/Images_Type_Floor_PISOARTXIQ.jpg');
}

.types .thumb-3 .img {
    background-image: url('../../includes/img/p1/Images_Type_Floor_PISOCOLORXIQ.jpg');
}

.types .thumb-4 .img {
    background-image: url('../../includes/img/p1/Images_Type_Floor_PISOPEROLA XIQ.jpg');
}

.types .thumb-5 .img {
    background-image: url('../../includes/img/p1/Images_Type_Floor_PISOSDECIMENTOQUEIMADO.jpg');
}

.types .text {
    padding: 10px 20px;
}

.types .title {
    /*height: 13px;
    background: #999;
    opacity: 0.7;*/
    margin-top: -5px;
}
.types .subtitle{
    /*margin-top: 45px;*/display: none;
}

.types .title {
    width: 100%;
}

.types .subtitle {
    width: 100%;
}
.navbar-default{background-color:transparent!important;border-color:transparent!important;}
@media screen and (min-width:769px) and (max-width:990px){ol li{padding:0px 10px;}
#menu{text-align:left;border-bottom:1px solid #000;box-shadow:1px 1px 2px #000;padding:20px 0;}
}
@media screen and (min-width:991px){ol li{padding:0px 10px;}
#menu{text-align:left;border-bottom:1px solid #000;box-shadow:1px 1px 2px #000;padding:20px 0 2px 0;position:fixed;left:0;right:0;z-index:20;background:#fff;}
}
/*Carrrosel*/
/*reset*/
/**{
    margin: 0;
    padding: 0;
    list-style: none ;
    outline: 0;
}

#content {
	margin: 0 auto;
	width: 650px;
	height: 200px;
}

#carrossel {
	float: left;
	width: 630px;
	overflow: hidden;
	height: 150px;
}

#carrossel ul li {
	width: 200px;
	height: 150px;
	float: left;
	margin: 0 5px;
}

#menu-carrossel {
	float: left;
	clear: both;
	width: 100%;
	text-align: center;
}*/